.image {
    width: 20vw;
}

.header {
    font-size: 6rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0 4rem;
}

.headBarList {
    list-style-type: none;
    display: flex;
    justify-content: end;
    gap: 1rem;
}



#mainDiv {
    display: flex;
    flex-direction: column;
}

.description {
    margin: 1rem;
    font-size: 3rem;
}

.link:hover {
    cursor: pointer;
    color: purple;
}
